html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}


#container {
  margin: 0 auto;
  width: 800px;
}

/* console.log('%c MainMenu' , 'background: green; color: white; display: block;');

var ic = this.add.image(0,0, 'buttonIC');
var tx = this.add.image(0,0, 'buttonTX');

this.add.container(400,300,[ic, tx]);

ic.setInteractive();

ic.once('pointerup', function () {
  this.scene.start('game');
}, this);

const h1 = this add.dom(100, 100, 'h1', null, 'CHROME');
h1.setClassName('chrome'); */
