.play {
  color: red;
}

.gameover {
      font-family: 'Helvetica', 'Arial', sans-serif;
      font-size: 2em;
      color: #2d3436;
    }

.win {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  color: #2d3436;
}
